.quiz {
  width: 100%;
  max-width: 500px;
  height: max-content;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #8d44ad;
  padding: 5%;
}
.LoadingAnimation {
  height: max-content;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #8d44ad;
}
.question {
  text-align: center;
}
.options {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.btn {
  height: 6em;
  width: 10em;
  background-color: #8d44ad;
  color: white;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  border-radius: 5px;
}
.congrats {
  width: 100%;
  max-width: 500px;
  padding: 5%;
  height: max-content;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #8d44ad;
  padding: 5%;
}
.congrats__text {
  font-size: 2em;
  font-weight: 700;
}
.btns {
  width: 80%;
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn {
  height: 4em;
  width: 6em;
  border-radius: 15%;
  background-color: #8d44ad;
  color: white;
}
.btn:hover {
  color: black;
  background-color: #b070cb;
  border: 2px solid #520075;
}
