.quiz {
  width: 100%;
  max-width: 500px;
  height: max-content;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #8d44ad;
  padding: 5%;
}
.LoadingAnimation {
  height: max-content;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #8d44ad;
}
.question {
  text-align: center;
}
.options {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
