.congrats {
  width: max-content;
  height: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #8d44ad;
  padding-left: 50px;
  padding-right: 50px;
}
#message {
  margin-bottom: 60px;
}
.play-btn {
  background-color: #8d44ad;
  color: white;
  height: 50px;
  width: 130px;
  border-radius: 5px;
}
.play-btn:hover {
  background-color: white;
  color: #8d44ad;
}
